body {
    background-image: url(https://us.123rf.com/450wm/lisaalisaill/lisaalisaill1705/lisaalisaill170500124/79233450-ilustraci%C3%B3n-de-la-galaxia-fondo-del-espacio-con-estrellas-nebulosa-nubes-cosmos.jpg);
    background-size: auto;
    background-repeat: repeat;
    

}

.color {
    color: yellow;
}